body
{
    background-image: url(../image/BGIndex.png);
    overflow-x: hidden;
    margin: 0;
    
}
.topbar a img
{
   scale: 10%;
   margin-left: -150px;
   margin-top: -155px;
}
.topbar {
   background-color: #363434;
   color: #fff;
   padding: 10px;
   margin: 0%;
   display: flex;

   height: 2vh;
}
.topbar a{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #fff;
   font-size: 70%;
   text-decoration: none;
   margin-right: 10px;
}

.intro
{
   margin-left: 475px;
   margin-top: 2.5%;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   

   text-shadow: 0.2vh 0.3vw 3px #87a09c, 0 0 5px #87a09c;
}
.intro2
{
   margin-left: 475px;
   margin-top: -2%;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   

   text-shadow: 0.2vh 0.3vw 3px #87a09c, 0 0 5px #87a09c;
}
.and
{
   margin-left: 425px;
   margin-top: -8%;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   font-size: 200%;
   

   text-shadow: 0.2vh 0.3vw 3px #87a09c, 0 0 5px #87a09c;
}
.box img{
    width: 60vw;
    margin-left: 20%;
    height: 40vh;
    box-shadow: 4px 6px 13px #545b77; 
    border-radius: 3%;
    opacity: 40%;
  }

  
  .box p {
    margin-top: -17%;
    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 130%;
    max-width: 50%; 
    height: 120%; 
    overflow-y: auto; 
    opacity: 100%;
    font-weight: bold;
    color: white;
  }
.hs
{
   margin-left: -21px;
}
.buttons
{
   margin-left: 360px;
   margin-top: 40px;
}
.buttons ul {
   list-style-type: none;
   padding: 0;
   margin-top: 70px;
}

.buttons ul li {
   display: inline-block;
   margin-right: -3px; /* Adjust as needed */
}

.buttons ul li img {
   width: 160px; /* Adjust image size as needed */
   transition: transform 0.3s;
}
.buttons ul li :hover
{
   opacity: 0.7;
   transform: scale(1.2);
}
.qq
{
   width: 8vw;
   height: auto;
   margin-bottom: 100%;
   margin-left: 400px;
}


