body
{
    background-image: url(./image/SB-BG.png);
    overflow-x: hidden;
    margin: 0;
   
    
}
.topbar a img
{
   scale: 10%;
   margin-left: -150px;
   margin-top: -155px;
}
.topbar {
   background-color: #363434;
   color: #fff;
   padding: 10px;
   margin: 0%;
   display: flex;

   height: 2vh;
}
.topbar a{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #fff;
   font-size: 70%;
   text-decoration: none;
   margin-right: 10px;
}

.intro
{
   margin-left: 590px;
   margin-top: 2.5%;
   font-family: Arial, Helvetica, sans-serif;
   color: #ffffff;
   

   text-shadow: 0.2vh 0.3vw 3px #87a09c, 0 0 5px #87a09c;
}


  
  .box p {

    padding-left: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 101%;
    max-width: 50%; 
    height: 120%; 
    overflow-y: auto; 
    opacity: 100%;
    color: white;
    text-shadow: 2px 2px 2px #545b77;
  }
.hs
{
   margin-left: -21px;
}
.buttons
{
   margin-left: 360px;
   margin-top: -50px;
}
.buttons ul {
   list-style-type: none;
   padding: 0;
   margin-top: 70px;
}

.buttons ul li {
   display: inline-block;
   margin-right: -3px; /* Adjust as needed */
}

.buttons ul li img {
   width: 160px; /* Adjust image size as needed */
   transition: transform 0.3s;
}
.buttons ul li :hover
{
   opacity: 0.7;
   transform: scale(1.2);
}

